{% extends "layout.html" %}
{% block body %}
  <section>
    <div class="wrapper">
      <article id="devices" 
        {% if not form.errors.phone_number %}
        class="animate"
        {% endif %}
        >
        <div id="device">
          <div id="devicetop"></div>
          <div id="screen">
            <div id="taco-notification"></div>
          </div>
          <div id="button">
            <div id="button-square"></div>
          </div>
        </div>
      </article>
      <div id="info">
        <h1>UWaterloo's Taco Notifier</h1>
        <p>Get an SMS whenever a restaurant on campus is selling tacos.</p>
        <form action="/signup" method="post" name="signup">
            {{form.hidden_tag()}}

            {% for error in form.errors.phone_number %}
                <span class="error">[{{error}}]</span>
                <br>
            {% endfor %}

            <p>
                {{form.phone_number(placeholder="(123) 456-7890")}}
                <input type="submit" value="Sign Up">
            </p>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  <p class="quote">"{{ pun }}"</p>
{% endblock %}
